<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <%= link_to "編輯使用者", edit_user_path(@user) %> |
  <%= link_to "返回使用者列表", users_path %>

  <%= button_to "刪除使用者", @user, method: :delete %>
</div>
